@tailwind components;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 
        active:bg-red-50 transition transform duration-100 ease-out;
  }

  .medium-card {
    @apply cursor-pointer py-4 hover:scale-105 hover:text-gray-400 transform transition duration-300 ease-out;
  }

  .small-cards {
    @apply flex items-center m-2 mt-5 space-x-4 rounded-xl cursor-pointer 
    hover:bg-gray-100 hover:scale-105 transition transform duration-200 ease-out;
  }

  .pagination-num {
    @apply mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg;
  }

  .header {
    @apply sticky top-0 z-50 grid grid-cols-3 bg-white shadow-md p-5 md:px-10  transform transition duration-300 ease-out;
  }

  .button-banner {
    @apply text-purple-500 bg-white px-10 py-4 shadow-md rounded-full font-bold
    my-3 hover:shadow-xl active:scale-90 transition duration-150;
  }

  .search {
    @apply hidden md:inline-flex h-8 bg-red-400 text-white rounded-full p-2 cursor-pointer md:mx-2;
  }

  .info-card {
    @apply flex py-8 px-2 pr-4 border-b shadow-sm hover:shadow-lg cursor-pointer hover:opacity-80 rounded-lg
    active:bg-gray-100 transition duration-100 ease-out first:border-t;
  }

  .info-card-img {
    @apply relative h-24 w-40 md:h-52 md:w-80 flex-shrink-0 hover:scale-105 transition transform ease-out;
  }

  .large-card-button {
    @apply text-sm text-white bg-gray-900 px-4 py-2 rounded-lg mt-5 hover:border-2 
      hover:text-black transition transform duration-200 ease-out hover:bg-white;
  }

  .medium-card {
    @apply overflow-hidden relative justify-end cursor-pointer capitalize flex flex-col rounded-md w-60 h-80 z-50 object-cover text-white;
  }

  .product-layout {
    @apply max-w-2xl mx-auto py-20 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2
  }

  .product-button{
    @apply bg-blue-500 text-white px-6 py-2 rounded font-medium mx-3 mt-10 hover:bg-blue-600 transition duration-200 ease-in-out
  }

}
